

*.DS_Store
*.dcf
*.Rdata
*.rdb
*.rdx
*.httr-oauth

analysis/books/adult_comparision/*

data/raw/other_norms/*
data/raw/corpora/*
# to avoid non-anon data
data/raw/gender_norms/* 


data/processed/books/*

data/processed/iat/*
data/raw/character_norming/

data/processed/other/coca_fiction_sampled/*
data/processed/other/slices_cleaned/*
data/processed/other/kidbook_sampled/*
data/processed/other/kidbook_sampled/*
data/processed/other/downsampled_kidbook.txt

writeups/paper/kidbook_gender_files/figure-latex/*
writeups/paper/kidbook_gender.log
writeups/paper/kidbook_gender.pdf
writeups/paper/kidbook_gender.tex
writeups/paper/kidbookgender_cache/latex/*
writeups/paper/kidbookgender_files/figure-latex/*
writeups/paper/kidbookgender_psych_sci_cache/latex/*
writeups/paper/kidbookgender_psych_sci_files/figure-latex/*
writeups/paper/SI/rsconnect/*
writeups/paper/scratch/*

# LaTeX #
*.bet
*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.Rhistory

*.Rproj.user
.Rproj.user
